@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Secular+One&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
// font-family: 'Roboto', sans-serif;
// font-family: 'Secular One', sans-serif;

$main-dark-blue: #05114f;
$main-light-blue: rgb(168, 174, 206);
$main-light-grey: #f7f7fa;
$main-yellow: #ffc830;

@mixin mobile {
  @media (max-width: #{500px}) {
    @content;
  }
}
@mixin breaking-point-sm {
  @media (max-width: #{750px}) {
    @content;
  }
}
@mixin breaking-point-md {
  @media (max-width: #{1050px}) {
    @content;
  }
}

%btn {
  cursor: pointer;
  font-family: "Secular One", sans-serif;
  font-size: 1.5rem;
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  outline: none;
}

.secondary-btn {
  @extend %btn;
  background: white;
  color: $main-dark-blue;

  &:hover {
    background: rgb(251, 251, 251);
    box-shadow: 0px 2px 6px rgba(78, 78, 78, 0.8);
  }
}
.primary-btn {
  @extend %btn;
  background: $main-yellow;
  color: $main-dark-blue;

  &:hover {
    background: rgb(255, 217, 94);
    box-shadow: 0px 2px 10px rgba(255, 191, 52, 0.7);
  }
  &:disabled{
    background: rgb(245, 222, 148);
    color: rgb(95, 95, 206);
    box-shadow: none;
    cursor: auto;
    &:hover {
        background: rgb(245, 222, 148);
      }
  }
}
.blue-btn {
  @extend %btn;
  background: $main-dark-blue;
  color: white;

  &:hover {
    background: rgb(54, 72, 162);
    box-shadow: 0px 2px 10px rgba(52, 126, 255, 0.7);
  }
}

.box {
  background: white;
  border-radius: 2rem;
  margin: 2rem auto;
  margin-top: 5%;
  max-width: 40rem;
  padding: 1rem;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.265);
}
